.price {
    color: #5C5C5C;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container {
    display: flex;
    gap: 10px;
}

.container img {
    width: 18px;
    height: 18px;
}